# 任务二

## 通过爬虫获取数据

In [3]:
import pandas as pd
import numpy as np
import re
import urllib
import bs4

In [96]:
data_final = pd.DataFrame()
for year in range(2000,2022):
    for month in ['06','11']:
        url='https://www.top500.org/lists/top500/'+str(year)+'/'+month+'/' #访问从2000/06到2021/11的榜单
        response=urllib.request.urlopen(url)
        html=response.read()
        webpage=bs4.BeautifulSoup(html,'html.parser')


        #爬取第一部分数据
        table = webpage.find('table', class_= "table table-condensed table-striped") #在页面中获取需要的表格部分
        col = list(filter(None,table.contents[1].text.split('\n')))
        col.insert(0,'Year')
        col.insert(1,'Month')
        data = pd.DataFrame(columns = col)
        data = data.rename(columns={'System':'Country'})
        for i in range(3,len(table.contents),2):
            tmptd = table.contents[i].find_all('td')
            if len(tmptd) != 6:
                print('\npart1 error!!!!!!!!') #如果爬虫中某一页结构发生变化，即print异常，并且跳过此次循环
                print(year,month,i) 
                continue
            tmp = [tmptd[j].text for j in range(len(tmptd))]

            #对于表中第一列只提取国家信息
            tmp1 = tmptd[1].find_all('a')[1].next_sibling.next_sibling.split('\n')[0]
            tmp[1] = tmp1

            tmp.insert(0,year)
            tmp.insert(1,int(month))
            tmpdict = dict(zip(data.columns,tmp))
            data = data.append(tmpdict,ignore_index=True)


        #爬取第二部分数据，即更详细的数据['Rank','Manufacturer','OperatingSystem','Memory','Processor']
        data2 = pd.DataFrame()
        list1 = ['Manufacturer','Operating System','Memory','Processor'] #只想爬取这部分数据
        for i in range(3,len(table.contents),2):
            tmpurl = table.contents[i].find_all('a')[0]['href']
            tmpurl = 'https://www.top500.org/'+tmpurl #即进入每一行中更细节的页面
            response=urllib.request.urlopen(tmpurl)
            tmphtml=response.read()
            tmpwebpage=bs4.BeautifulSoup(tmphtml,'html.parser')
            tmptable = tmpwebpage.find('table',class_ = 'table table-condensed') #因为验证过只会找到一个，所以只用find
            name = ['Year','Month']
            val = [year,int(month)]
            name.append('Rank')
            val.append(table.contents[i].find('td').text)
            name = name + list1
            for item in list1:
                tmpth = tmptable.find('th',text = re.compile(item))
                if tmpth == None:
                    print('\npart2 error!!!!!!!')
                    print(year,month,i,item)
                    val.append(np.nan)
                else:
                    tmptd = tmpth.next_sibling.next_sibling
                    clean_pattern = re.compile(r'\n| |\xa0|\\xa0|\u3000|\\u3000|\\u0020|\u0020|\t|\r') #构建一个包含各种比如换行 空格的pattern
                    clean_tmptd = clean_pattern.sub('', tmptd.text)  #利用sub函数 表明将tmptr[j].text中所有匹配上clean_pattern的都替换成‘’
                    val.append(clean_tmptd)
            if len(name)!=len(val):
                raise
            tmpdict = dict(zip(name,val))
            data2 = data2.append(tmpdict,ignore_index=True)
    
        print(data.shape)
        print(data2.shape)
        #将data和data2合并
        data_finaltmp = pd.merge(data,data2,on = ['Year','Month','Rank'],how = 'inner')
        print(data_finaltmp.shape)
        data_final = data_final.append(data_finaltmp)
print(data_final.shape)
data_final.to_csv('./data/2_data_final.csv',index = False)

(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(10, 8)
(10, 7)
(10, 12)
(440, 14)

变量说明：
Rmax最大性能 Rpeak峰值性能  --衡量计算机算力
OperatingSystem 操作系统
Processor 处理器

## 数据预处理

In [38]:
data_final2=pd.read_csv('./data/2_data_final.csv')
data_final2.shape

(440, 14)

In [102]:
data_final2

,Year,Month,Rank,Country,Cores,Rmax (GFlop/s),Rpeak (GFlop/s),Power (kW),Manufacturer,Operating System,Memory,Processor,Rmax (TFlop/s),Rpeak (TFlop/s)
0,2000,6,1,United States,"9,632","2,379.0","3,207.0",NaN,Intel,ParagonOS,0GB,PentiumPro333MHz,NaN,NaN
1,2000,6,2,United States,"5,808","2,144.0","3,856.5",NaN,IBM,AIX,0GB,PowerPC604e332MHz,NaN,NaN
2,2000,6,3,United States,"6,144","1,608.0","3,072.0",NaN,HPE,IRIX,0GB,R10000250MHz,NaN,NaN
3,2000,6,4,United States,"1,336","1,417.0","2,004.0",NaN,IBM,AIX,0GB,POWER3375MHz,NaN,NaN
4,2000,6,5,Germany,112,"1,035.0","1,344.0",NaN,Hitachi,HI-UX/MPP,0GB,HitachiSR8000375MHz,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,2021,11,6,United States,"555,520",NaN,NaN,"2,646",Nvidia,Ubuntu20.04.1LTS,"1,120,000GB",AMDEPYC774264C2.25GHz,"63,460.0","79,215.0"
436,2021,11,7,China,"4,981,760",NaN,NaN,"18,482",NUDT,KylinLinux,"2,277,376GB",IntelXeonE5-2692v212C2.2GHz,"61,444.5","100,678.7"
437,2021,11,8,Germany,"449,280",NaN,NaN,"1,764",Atos,CentOS,"628,992GB",AMDEPYC740224C2.8GHz,"44,120.0","70,980.0"
438,2021,11,9,Italy,"669,760",NaN,NaN,"2,252",DELLEMC,CentOSLinux7,"349,440GB",XeonGold625224C2.1GHz,"35,450.0","51,720.8"
439,2021,11,10,United States,"253,440",NaN,NaN,NaN,MicrosoftAzure,Ubuntu18.04LTS,"486,552GB",AMDEPYC7V1248C2.45GHz,"30,050.0","39,531.2"

In [9]:
data_final2['Memory']

0              0GB
1              0GB
2              0GB
3              0GB
4              0GB
          ...
435    1,120,000GB
436    2,277,376GB
437      628,992GB
438      349,440GB
439      486,552GB
Name: Memory, Length: 440, dtype: object

In [14]:
data_final2[['Cores','Power (kW)','Memory','Rmax (GFlop/s)','Rpeak (GFlop/s)','Rmax (TFlop/s)','Rpeak (TFlop/s)']]

,Cores,Power (kW),Memory,Rmax (GFlop/s),Rpeak (GFlop/s),Rmax (TFlop/s),Rpeak (TFlop/s)
0,"9,632",NaN,0GB,"2,379.0","3,207.0",NaN,NaN
1,"5,808",NaN,0GB,"2,144.0","3,856.5",NaN,NaN
2,"6,144",NaN,0GB,"1,608.0","3,072.0",NaN,NaN
3,"1,336",NaN,0GB,"1,417.0","2,004.0",NaN,NaN
4,112,NaN,0GB,"1,035.0","1,344.0",NaN,NaN
...,...,...,...,...,...,...,...
435,"555,520","2,646","1,120,000GB",NaN,NaN,"63,460.0","79,215.0"
436,"4,981,760","18,482","2,277,376GB",NaN,NaN,"61,444.5","100,678.7"
437,"449,280","1,764","628,992GB",NaN,NaN,"44,120.0","70,980.0"
438,"669,760","2,252","349,440GB",NaN,NaN,"35,450.0","51,720.8"
439,"253,440",NaN,"486,552GB",NaN,NaN,"30,050.0","39,531.2"

In [15]:
data_final2[data_final2['Rmax (TFlop/s)'].isnull()]['Year']

0     2000
1     2000
2     2000
3     2000
4     2000
      ...
95    2004
96    2004
97    2004
98    2004
99    2004
Name: Year, Length: 100, dtype: int64

In [12]:
data_final2[['Rmax (GFlop/s)','Rpeak (GFlop/s)','Rmax (TFlop/s)','Rpeak (TFlop/s)']]

    Rmax (GFlop/s) Rpeak (GFlop/s) Rmax (TFlop/s) Rpeak (TFlop/s)
0          2,379.0         3,207.0            NaN             NaN
1          2,144.0         3,856.5            NaN             NaN
2          1,608.0         3,072.0            NaN             NaN
3          1,417.0         2,004.0            NaN             NaN
4          1,035.0         1,344.0            NaN             NaN
..             ...             ...            ...             ...
435            NaN             NaN       63,460.0        79,215.0
436            NaN             NaN       61,444.5       100,678.7
437            NaN             NaN       44,120.0        70,980.0
438            NaN             NaN       35,450.0        51,720.8
439            NaN             NaN       30,050.0        39,531.2

[440 rows x 4 columns]

In [39]:
#对‘Memory’变量做处理
data_final2['Memory'] = data_final2['Memory'].apply(lambda x: x.split('GB')[0])
data_final2 = data_final2.rename(columns={'Memory':'Memory (GB)'})
#将数值型变量转为数值
for i in ['Cores','Power (kW)','Memory (GB)','Rmax (GFlop/s)','Rpeak (GFlop/s)','Rmax (TFlop/s)','Rpeak (TFlop/s)']:
    print(i)
    data_final2.loc[~data_final2[i].isnull(),i] = data_final2.loc[~data_final2[i].isnull(),i].apply(lambda x: x.replace(',','')) #去掉数值型字符中的','
    data_final2.loc[~data_final2[i].isnull(),i] = data_final2.loc[~data_final2[i].isnull(),i].astype(float)

##处理‘Rmax’‘Rpeak’两列的缺失情况
index1= data_final2[data_final2['Rmax (GFlop/s)'].isnull()].index
index2 = data_final2[data_final2['Rmax (TFlop/s)'].isnull()].index
data_final2.loc[index1,'Rmax (GFlop/s)']=data_final2.loc[index1,'Rmax (TFlop/s)']*1000
data_final2.loc[index1,'Rpeak (GFlop/s)']=data_final2.loc[index1,'Rpeak (TFlop/s)']*1000
data_final2.loc[index2,'Rmax (TFlop/s)']=data_final2.loc[index2,'Rmax (GFlop/s)']/1000
data_final2.loc[index2,'Rpeak (TFlop/s)']=data_final2.loc[index2,'Rpeak (GFlop/s)']/1000

Cores
Power (kW)
Memory (GB)
Rmax (GFlop/s)
Rpeak (GFlop/s)
Rmax (TFlop/s)
Rpeak (TFlop/s)

In [40]:
data_final2 = data_final2.drop(['Rmax (GFlop/s)','Rpeak (GFlop/s)'],1)
data_final2.head(3)

E:\anaconda\Anaconda3\envs\business\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

,Year,Month,Rank,Country,Cores,Power (kW),Manufacturer,Operating System,Memory (GB),Processor,Rmax (TFlop/s),Rpeak (TFlop/s)
0,2000,6,1,United States,9632.0,NaN,Intel,ParagonOS,0.0,PentiumPro333MHz,2.379,3.207
1,2000,6,2,United States,5808.0,NaN,IBM,AIX,0.0,PowerPC604e332MHz,2.144,3.8565
2,2000,6,3,United States,6144.0,NaN,HPE,IRIX,0.0,R10000250MHz,1.608,3.072

In [41]:
data_final2.to_csv('./data/2_data_final2.csv',index = False)

## 数据可视化（为POWERBI提供数据）

In [42]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style="white")
# sns.set(style="whitegrid", color_codes=True)
#处理中文乱码
plt.rcParams['font.sans-serif'] = ['Microsoft YaHei']
#坐标轴负号的处理
plt.rcParams['axes.unicode_minus']=False

In [43]:
data_final = pd.read_csv('./data/2_data_final2.csv')
print(data_final.shape)
data_final.head(3)

(440, 12)

,Year,Month,Rank,Country,Cores,Power (kW),Manufacturer,Operating System,Memory (GB),Processor,Rmax (TFlop/s),Rpeak (TFlop/s)
0,2000,6,1,United States,9632.0,NaN,Intel,ParagonOS,0.0,PentiumPro333MHz,2.379,3.2070
1,2000,6,2,United States,5808.0,NaN,IBM,AIX,0.0,PowerPC604e332MHz,2.144,3.8565
2,2000,6,3,United States,6144.0,NaN,HPE,IRIX,0.0,R10000250MHz,1.608,3.0720

In [44]:
data = data_final.copy()
data.head(3)

,Year,Month,Rank,Country,Cores,Power (kW),Manufacturer,Operating System,Memory (GB),Processor,Rmax (TFlop/s),Rpeak (TFlop/s)
0,2000,6,1,United States,9632.0,NaN,Intel,ParagonOS,0.0,PentiumPro333MHz,2.379,3.2070
1,2000,6,2,United States,5808.0,NaN,IBM,AIX,0.0,PowerPC604e332MHz,2.144,3.8565
2,2000,6,3,United States,6144.0,NaN,HPE,IRIX,0.0,R10000250MHz,1.608,3.0720

In [ ]:
#Top10榜单各年平均性能及增长率变化
groups = data.groupby('Year')
y1 = groups['Rmax (TFlop/s)'].mean()
y2 =  groups['Rpeak (TFlop/s)'].mean()
x = y1.index.tolist()

#计算增长率
y3 = y1.pct_change()
y4 = y2.pct_change()
y5 = (y3+y4)/2

y1 = y1.apply(lambda x:'%.4f' % x).apply(lambda x:float(x))
y2 = y2.apply(lambda x:'%.4f' % x).apply(lambda x:float(x))
y5 = y5.apply(lambda x:'%.4f' % x).apply(lambda x:float(x))

data_Rmean = pd.DataFrame(columns=['Year','Rmax (TFlop/s)','Rpeak (TFlop/s)','平均增长率'])
data_Rmean['Year'] = x
data_Rmean['Rmax (TFlop/s)'] = y1.values.tolist()
data_Rmean['Rpeak (TFlop/s)'] = y2.values.tolist()
data_Rmean['平均增长率'] = y5.values.tolist()
data_Rmean
data_Rmean.to_csv('./data/2_dataRmean.csv',index=False)

In [152]:
#2000年至2021年各国在前10榜单的个数
countrylist = data[(data['Year'] == 2000) | (data['Year'] == 2021)]['Country'].unique().tolist()

y = data.groupby(['Year','Country']).size()
data_country = y.reset_index()
data_country = data_country.rename(columns={0:'count'})
data_country  = data_country[data_country['Year'].apply(lambda x : x in [2000,2005,2010,2015,2020])]
print(data_country['Country'].unique())
#主要想看 China，United States，Japan，将Germany，Netherlands（荷兰），Spain（西班牙），Switzerland（瑞士），France（法国），Saudi Arabia（沙特阿拉伯），Italy 欧亚其它国家
maplist = {'China':'中国','United States':'美国','Japan':'日本'}
data_country['Country'] = data_country['Country'].map(maplist).fillna('其它国家')
maplist = {'中国':2,'美国':1,'日本':3,'其它国家':4}
data_country['id'] = data_country['Country'].map(maplist)
data_country.to_csv('./data/2_data_country.csv',index = False)

['Germany' 'Japan' 'United States' 'Netherlands' 'Spain' 'Switzerland'
 'China' 'France' 'Saudi Arabia' 'Italy']

In [160]:
#2000年至2021年各个公司在前10榜单的个数
data['Manufacturer'].unique()
y = data.groupby(['Year','Manufacturer']).size()
data_fa = y.reset_index()
data_fa = data_fa.rename(columns={0:'count'})
data_fa  = data_fa[data_fa['Year'].apply(lambda x : x in [2000,2005,2010,2015,2020])]
print(data_fa['Manufacturer'].unique())
data_fa[data_fa['count']>3]
data_fa.to_csv('./data/2_datafa.csv',index = False)

['Cray/HPE' 'HPE' 'Hitachi' 'IBM' 'Intel' 'CaliforniaDigitalCorporation'
 'DELLEMC' 'NEC' 'Atos' 'NEC/HPE' 'NUDT' 'Sugon' 'Sun' 'Fujitsu'
 'IBM/NVIDIA/Mellanox' 'NRCPC' 'Nvidia']

In [7]:
#2000年至2021年各个操作系统在前10榜单的个数
print(data['Operating System'].unique())
#进行分组处理
data['Operating System2'] = data['Operating System']
data['Operating System2'] = data['Operating System2'].apply(lambda x: 'SUSELinux' if 'SUSELinux' in x else x)
data['Operating System2'] = data['Operating System2'].apply(lambda x: 'RedHat' if ('RHEL' in x)|('RedHat' in x) else x)
data['Operating System2'] = data['Operating System2'].apply(lambda x: 'CentOS' if 'CentOS' in x else x)
data['Operating System2'] = data['Operating System2'].apply(lambda x: 'Ubuntu' if 'Ubuntu' in x else x)
print(data['Operating System2'].unique())

y = data.groupby(['Year','Operating System2']).size()
data_system = y.reset_index()
data_system = data_system.rename(columns={0:'count'})
data_system  = data_system[data_system['Year'].apply(lambda x : x in [2000,2005,2010,2015,2020])]
data_system.to_csv('./data/2_datasystem.csv',index = False)

['ParagonOS' 'AIX' 'IRIX' 'HI-UX/MPP' 'UNICOS' 'Super-UX' 'Tru64UNIX'
 'Linux' 'Solaris' 'MacOSX' 'CNK/SLES9' 'UNICOS/Linux' 'UNICOS/SUSELinux'
 'SUSELinuxEnterpriseServer10' 'SLES10+SGIProPack5' 'CNL' 'SUSELinux'
 'CrayLinuxEnvironment' 'CentOS' 'SUSELinuxEnterpriseServer11'
 'bullxSUperCOmputerSuiteA.E.2.1' 'KylinLinux' 'SunwayRaiseOS2.0.5'
 'RHEL7.4' 'RedHatEnterpriseLinux' 'SUSELinuxEnterpriseServer12SP3'
 'CentOSLinux7' 'Ubuntu20.04.1LTS' 'RHEL7.6' 'RHEL7.7' 'HPECrayOS'
 'Ubuntu18.04LTS']
['ParagonOS' 'AIX' 'IRIX' 'HI-UX/MPP' 'UNICOS' 'Super-UX' 'Tru64UNIX'
 'Linux' 'Solaris' 'MacOSX' 'CNK/SLES9' 'UNICOS/Linux' 'SUSELinux'
 'SLES10+SGIProPack5' 'CNL' 'CrayLinuxEnvironment' 'CentOS'
 'bullxSUperCOmputerSuiteA.E.2.1' 'KylinLinux' 'SunwayRaiseOS2.0.5'
 'RedHat' 'Ubuntu' 'HPECrayOS']

In [32]:
#2000年至2021年各个处理器在前10榜单的个数
print(data['Processor'].unique())
#进行分组处理
data['Processor2'] = data['Processor']
data['Processor2'] = data['Processor2'].apply(lambda x: 'POWERPC' if ('Power' in x)|('POWER' in x) else x)
data['Processor2'] = data['Processor2'].apply(lambda x: 'Hitachi' if 'Hitachi' in x else x)
data['Processor2'] = data['Processor2'].apply(lambda x: 'Opteron' if 'Opteron' in x else x)
data['Processor2'] = data['Processor2'].apply(lambda x: 'Xeon' if 'Xeon' in x else x)
data['Processor2'] = data['Processor2'].apply(lambda x: 'Itanium' if 'Itanium' in x else x)
data['Processor2'] = data['Processor2'].apply(lambda x: 'AMDEPYC' if 'AMDEPYC' in x else x)
data['Processor2'] = data['Processor2'].apply(lambda x: 'Alpha' if 'Alpha' in x else x)
data['Processor2'] = data['Processor2'].apply(lambda x: 'SPARC' if 'SPARC' in x else x)
print(data['Processor2'].unique())

y = data.groupby(['Year','Processor2']).size()
data_processor = y.reset_index()
data_processor = data_processor.rename(columns={0:'count'})
data_processor  = data_processor[data_processor['Year'].apply(lambda x : x in [2000,2005,2010,2015,2020])]
data_processor.to_csv('./data/2_dataprocessor.csv',index = False)

['PentiumPro333MHz' 'PowerPC604e332MHz' 'R10000250MHz' 'POWER3375MHz'
 'HitachiSR8000375MHz' 'EV56598MHz' 'HitachiSR8000250MHz' 'EV5450MHz'
 'HitachiSR8000450MHz' 'NEC312MHz' 'Alpha1GHz' 'NEC1GHz' 'POWER42C1.3GHz'
 'Alpha1.25GHz' 'Pentium4Xeon2.4GHz' 'Pentium4Xeon2.2GHz' 'SPARC64V1.3GHz'
 'Itanium21GHz' 'PowerPC9702C2GHz' 'Pentium4Xeon3.06GHz' 'Itanium21.5GHz'
 'Opteron2GHz' 'Itanium21.4GHz' 'PowerPC4402C500MHz' 'POWER4+2C1.9GHz'
 'PowerPC4402C700MHz' 'Opteron2.2GHz' 'Itanium2Montecito2C1.6GHz'
 'PowerPC9702C2.2GHz' 'PowerPC9702C2.3GHz' 'POWER4+2C1.7GHz'
 'POWER52C1.9GHz' 'XeonEM64T3.6GHz' 'Opteron2.4GHz'
 'OpteronDualCore2C2.4GHz' 'OpteronDualCore2C2.6GHz' 'XeonE53454C2.33GHz'
 'PowerPC4504C850MHz' 'XeonX53654C3GHz' 'XeonX53554C2.67GHz'
 'PowerXCell8i9C3.2GHz' 'OpteronQuadCore4C2.3GHz' 'OpteronQuadCore4C2GHz'
 'OpteronQuadCore4C2.1GHz' 'XeonE54504C3GHz' 'XeonX55704C2.93GHz'
 'Opteron627416C2.2GHz' 'OpteronSixCore6C2.6GHz' 'XeonE55404C2.53GHz'
 'XeonX56506C2.66GHz' 'XeonX56706C2.93GHz' 'Opteron617212C2.1GHz'
 'XeonX75608C2.26GHz' 'Opteron61368C2.4GHz' 'SPARC64VIIIfx8C2GHz'
 'IntelXeonE5-2680v210C2.8GHz' 'PowerBQC16C1.6GHz' 'XeonE5-26808C2.7GHz'
 'POWER78C3.84GHz' 'IntelXeonE5-2692v212C2.2GHz' 'XeonE5-2690v312C2.6GHz'
 'XeonE5-2698v316C2.3GHz' 'IntelXeonPhi725068C1.4GHz'
 'XeonE5-2680v312C2.5GHz' 'SunwaySW26010260C1.45GHz' 'XeonD-157116C1.3GHz'
 'IBMPOWER922C3.07GHz' 'IBMPOWER922C3.1GHz' 'XeonGold614820C2.4GHz'
 'XeonPlatinum817424C3.1GHz' 'XeonPlatinum828028C2.7GHz' 'A64FX48C2.2GHz'
 'XeonGold625224C2.1GHz' 'AMDEPYC774264C2.25GHz' 'IBMPOWER916C3GHz'
 'AMDEPYC740224C2.8GHz' 'XeonGold624820C2.5GHz' 'AMDEPYC776364C2.45GHz'
 'AMDEPYC7V1248C2.45GHz']
['PentiumPro333MHz' 'POWERPC' 'R10000250MHz' 'Hitachi' 'EV56598MHz'
 'EV5450MHz' 'NEC312MHz' 'Alpha' 'NEC1GHz' 'Xeon' 'SPARC' 'Itanium'
 'Opteron' 'SunwaySW26010260C1.45GHz' 'A64FX48C2.2GHz' 'AMDEPYC']